<nav>
     <a href="{{ site.baseurl }}/">Home</a>
     <a href="{{ site.baseurl }}/about">About</a>
     <a href="{{ site.baseurl }}/events">Events</a>
     <a href="{{ site.baseurl }}/people">People</a>
     <a href="{{ site.baseurl }}/social_media">Social Media</a>
     <a href="{{ site.baseurl }}/code_of_conduct">Code of Conduct</a>
</nav>
